# Чтение данных

In [1]:
import pandas as pd
import numpy as np

In [2]:
import json

In [4]:
import warnings
import warnings
warnings.filterwarnings('ignore', category=Warning)

In [6]:
tags = pd.read_csv('data/tags.csv', sep=',#', names=['tag', 'name', 'type'])
tags = tags.loc[tags['type'] == '"1"']
tags.head(10)

       tag                   name type
151  "179"              "О войне"  "1"
152  "180"              "военный"  "1"
153  "181"  "заграничная поездка"  "1"
154  "182"              "блокада"  "1"
155  "183"                  "тыл"  "1"
156  "184"            "фронтовой"  "1"
157  "185"           "депортация"  "1"
158  "186"              "детский"  "1"
159  "187"     "профессиональный"  "1"
160  "188"          "путешествие"  "1"

Всего размечено 86 тем. Из таблицы можно заметить, что есть темы, которые пересекаются, например "О войне", "военный", "фронтовый", "тыл".

In [5]:
tags.shape

(86, 3)

In [7]:
# список тем типа 1
themes = list(tags['tag'])

In [8]:
diaries = pd.read_csv('data/diary.csv', sep=',#', header=None)
diaries.head()

,0,1,2,3,4,5,6,7,8,9,10
0,"""3""","""4""","""published""","""329""","""1932-09-28""","""1937-04-30""",NaN,"""0""","""0""","""0""","""1425446154"""
1,"""4""","""5""","""published""","""356""","""1942-09-09""","""1944-01-27""",NaN,"""0""","""0""","""1474033861""","""1425446228"""
2,"""5""","""6""","""published""","""28""","""1943-01-31""","""1951-07-03""",NaN,"""0""","""0""","""0""","""1425446370"""
3,"""6""","""7""","""published""","""65""","""0000-00-00""","""0000-00-00""",NaN,"""0""","""0""","""0""","""1425446645"""
4,"""8""","""11""","""published""","""804""","""1943-08-04""","""1961-12-31""",NaN,"""0""","""0""","""0""","""1425487703"""

Всего есть 2342 дневника.

In [9]:
len(diaries[0])

2342

In [10]:
tags_diaries = pd.read_csv('data/tags_diaries.csv', sep=',#', names=['diary', 'tag'])
tags_diaries.head()

  diary    tag
0   "3"  "181"
1   "3"  "328"
2   "4"  "180"
3   "4"  "184"
4   "8"  "187"

Из них хоть какой-то тэг приписан к 1407 дневникам. К одному дневнику может быть приписано несколько тэгов.

In [11]:
len(set(tags_diaries['diary']))

1407

In [12]:
# датафрейм с id дневников, которым приписана хотя бы одна тема
diaries_with_themes = tags_diaries[tags_diaries['tag'].isin(themes)]

Тема приписана 1407 дневникам. Многим дневникам приписано несколько тем. Видимо, потому, что некоторое темы пересекаются или у одного дневника может быть несколько разных тем. 

Как можно заметить, локации и персоны ни одному дневнику не приписаны.

In [13]:
len(set(diaries_with_themes['diary']))

1407

In [14]:
with open('data/notes.json', 'r') as f:
        notes = json.load(f)

В джейсоне 182975 записи (кажется, в csv было больше).

In [15]:
len(notes[2]['data'])

182975

In [26]:
notes[2]['data'][-1]

{'createdDate': '1485536357',
 'date': '2002-03-18',
 'dateTop': '0000-00-00',
 'diary': '145',
 'id': '221877',
 'julian_calendar': '0',
 'notDated': '0',
 'pictures': '1',
 'text': 'Впервые в жизни получил какое-то удовольствие от тренажера. Нынче он у нас стал компьютерным, цветным, адекватным. Не все, конечно, еще отлажено, но против старого — небо и земля. На нем можно решать задачи. С пожаром на взлете мы приземлились за 2.45, визуально, ну, с чуть взмокшей спиной. Так это ж я, старик; молодые-то быстрее зайдут.    \nПриехала газетчица Маша; дождался, посмотрел материал. От всего разговора, в статью вошли, конечно, крохи, и не самые лучшие; пришлось править, кое-что даже принципиально. Для газетенки сойдет. Сказала, читайте послезавтра в газете… Кофейком ее напоил… но все как-то на скоростях. Оно и понятно: репортеры — они как хариусы: хвать на лету — и дальше…    \nЧем мне, собственно, не понравился материал? Тем, что в этом интервью о моей большой книге — ни слова. Вообще, на мой взгляд, интервью — жанр, требующий от журналиста большого таланта, нюха, знания жизни. А так — получились обрывочные картинки, из которых можно сделать вывод: у нас одни недостатки. Ну, немножко, между прочим, упомянуто и о профессионализме.    \nНу да что ж теперь. Интервью это у меня первое в жизни… и наверно последнее. Я говорю то, что знаю, что чувствую. Проблемы-то есть, хотя, может, Абрамовичу они и не по нутру.    \nЛегче всего давать интервью по принципу «вопрос — конкретный ответ». Меня же купили на журналистскую хитрость: беседа, свободная, пространная… а потом из контекста надергали и слепили нечто, по их пониманию.    \nНу, кое-как попытался исправить, сгладить углы… все-таки не то… а уже макет слепили, границы очерчены, не вставишь ничего. Да брось ты, Вася. Это все ерунда. Книгу надо дописывать.',
 'user': '14'}

In [16]:
rows = []

for note in notes[2]['data']:
    rows.append([note['text'], note['diary']])

In [17]:
notes = pd.DataFrame(rows, columns=['text', 'diary'])

In [18]:
# датафрейм с записями и id их дневника
notes.head()

                                                text diary
0                                Барабинск. Татарка.   130
1     Омск. Утро. Стоим до вечера. Обед. Сухой паек.   130
2  В 6 часов утра еще темно. Станция Называевская...   130
3  Утром рано приехали в Тюкалинск. Из автоотряда...   130
4  Так давно я не прикасался к дневнику, что он м...   234

# Предобработка

In [19]:
from stop_words import get_stop_words
import nltk
from pymystem3 import Mystem
import re

In [20]:
random_seed = 42

In [21]:
stop_words = get_stop_words('ru')
stop_words.append('свой')

In [22]:
m = Mystem()

In [23]:
def tokenize(text):
    comp = re.compile('[А-ЯЁа-яё\-]+')
    tokens = comp.findall(text.lower())
    return tokens

In [24]:
def lemmatize(text):
    return [m.lemmatize(word)[0] for word in text]

In [25]:
# токенизируем заметки
notes_lemma = pd.DataFrame()
notes_lemma['text'] = notes.text[:10000].apply(lambda x: tokenize(x))

In [26]:
# лемматизируем заметки
notes_lemma['text'] = notes_lemma.text.apply(lambda x: lemmatize(x))

In [32]:
notes_lemma = notes_lemma.text.apply(lambda x: ' '.join(x))

In [33]:
notes_lemma.head(10)

0                                    барабинск татарка
1            омск утро стоять до вечер обед сухой паек
2    в час утро еще темно станция называевский слез...
3    утро рано приезжать в тюкалинск из автоотряд и...
4    так давно я не прикасаться к дневник что он я ...
5    еще проходить пешком более км навстречу выходи...
6    стоять на место за это время поступать несколь...
7    приезжать на станция потом идти до военный гор...
8    мы отделять от рот в отдельный комната вчера б...
9    мы перевозить в расположение бригада где сформ...
Name: text, dtype: object

# Тематическое моделирование

In [28]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.pipeline import FeatureUnion

In [29]:
tfidf = TfidfVectorizer(sublinear_tf=True,
    strip_accents='unicode',
    analyzer='word',
    token_pattern=r'\w{1,}',
    stop_words=stop_words,
    ngram_range=(1, 2))

In [35]:
notes_vec = tfidf.fit_transform(notes_lemma)

In [36]:
from sklearn.decomposition import NMF, LatentDirichletAllocation

In [37]:
tfidf_feature_names = tfidf.get_feature_names()

In [38]:
no_topics = 10

# NMF
nmf = NMF(n_components=no_topics, random_state=random_seed, alpha=.1, l1_ratio=.5, init='nndsvd').fit(notes_vec)

In [39]:
def display_topics(model, feature_names, no_top_words):
    for topic_idx, topic in enumerate(model.components_):
        print("Topic %d:" % (topic_idx))
        print(" ".join([feature_names[i] for i in topic.argsort()[:-no_top_words - 1:-1]]))

In [45]:
no_top_words = 15
display_topics(nmf, tfidf_feature_names, no_top_words)

Topic 0:
которыи говорить какои час идти дело такои давать вечер немец фронт получать сеичас другои новыи
Topic 1:
мао кпк цзэ мао цзэ цк кпк цк председатель цк китаи председатель чан каи чан каи ван кан руководство
Topic 2:
язык болгарскии славянскии статья славянскии язык институт болгарскии язык славяноведение сравнительныи языкознание доклад институт славяноведение атлас словарь печать
Topic 3:
паровоз подорвать вагон эшелон разбивать разбивать паровоз подорвать поезд повреждать балицкии паровоз вагон поезд раион вагон повреждать паровоз разбивать вражескии эшелон
Topic 4:
тов отряд федоров елезныи елезныи д тов федоров рота группа д орога орога командир партизан д соединение посылать
Topic 5:
миша пьеса театр дон кихот кихот эрдман вечер оля дон звонок мхат дмитриев позвонить борис приити
Topic 6:
японец снаряд батарея японскии гора гавань стрелять фланг форт позиция огонь час минута генерал стессель обстреливать
Topic 7:
егоров вечер богоявленскии н петр утро н егоров д н прогулка четверг иза л иза среда университет минея
Topic 8:
роман роман вечер вечер ангарскии читать воланд глава роман вильямс дома роман роман слава ермолинскии шахматы ермолинскии вечер вильямс контора какои контора казенныи
Topic 9:
работа роман роман свободныи роман свободныи работа ящичек тумбочка контора говорить контора издательство контора известие контора идти контора запротестовать контора заведовать контора джамгаровыи контора двор контора государственныи

In [41]:
# LDA
lda = LatentDirichletAllocation(n_topics=no_topics, max_iter=5, learning_method='online', learning_offset=50., 
                                random_state=random_seed).fit(notes_vec)

/home/socur/anaconda3/lib/python3.6/site-packages/sklearn/decomposition/online_lda.py:294: DeprecationWarning: n_topics has been renamed to n_components in version 0.19 and will be removed in 0.21
  DeprecationWarning)

In [46]:
display_topics(lda, tfidf_feature_names, no_top_words)

Topic 0:
миноискатель находка миноискатель находка обед стоять особенныи отправлять курсы леитенант праздничныи исключение блюдо обед особенныи праздничныи исключение улучшать улучшать блюдо дорогобуж можаиск дорогобуж можаиск ночь стоять можаиск
Topic 1:
граница монголия эвакуация тыл большии эвакуация канск обед час канск канск борович баня борович эвакуация борович баня перевязка первыи ремонт дорога продукт балезино обед плохои стоять ст балезино
Topic 2:
барабинск ответ жена эвакуация борович борович ответ тася часть продукт кот тася стоять парк квартира стоять письмо кот перово станция зима зима вечер час верх томочка
Topic 3:
вечер которыи говорить час утро идти такои давать какои работа вчера дело получать новыи письмо
Topic 4:
обыкновенныи госпиталь смертень месяц голодень рассказывать прибавляться голодень прибавляться месяц голодень пухня сухня пухня сухня сухня смертень пухня ожидать эшелон автор дневник проезжать курган мастерская зашивка
Topic 5:
ачинск красноярск ачинск рентгеновскии луч заниматься пулемет пулемет вчера курсы санинструктор сараи солома домои телеграмма перевязка апрель давать домои телеграмма перевязка станция казариновыи ярославль писать казариновыи ярославль счет дорога
Topic 6:
кунгур продукт октябрь погружаться вагон вичуга госпиталь смотреть цыганскии цыганскии ансамбль вичуга город вичуга ст таига томскии ст лобныи место прибыль квартира калинин старыи деревня км км калинин
Topic 7:
станция канск канск выезжать закат новосибирск стоять утро новосибирск мост срезать срезать свая свая лукьянов лукьянов погода погода ясныи ехать берег станция оловянныи страна терять выходить антибольшевическии антибольшевическии речь
Topic 8:
стоять дневальныи станция зеленыи зеленыи луг митинг концерт германия митинг константин прима сын константин км пассажирскии доходить красник красник люблин люблин км поезд люблин свидетельство аттестат документ проходнои проходнои свидетельство
Topic 9:
улан удэ удэ улан продукт подарок час улан город демьянск демьянск построика демьянск молоко котелок блиндаж штаб ивахновыи дер ивахновыи фронт дер шахта вечер черемхово